Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^em-carreata-iris-percorre-18-bairros-da-regiao-leste$ detalhe-noticias.php
RewriteRule ^em-carreata-iris-percorre-18-bairros-da-regiao-leste-video$ detalhe-noticias-video.php
RewriteRule ^agenda$ agenda.php
RewriteRule ^noticias$ noticias.php
RewriteRule ^plano-governo$ plano-governo.php

ErrorDocument 404 /404.php
Options All -Indexes
